@import './base.css';

span.info {
    color: #337ecc;
}

span.success {
    color: #67c23a;
}

span.error {
    color: #f56c6c;
}

.el-table .warning-row {
    --el-table-tr-bg-color: var(--el-color-warning-light-9);
}
