@import './base.css';

span.info {
    color: #337ecc;
}

span.success {
    color: #67c23a;
}

span.error {
    color: #f56c6c;
}

.el-table .warning-row {
    --el-table-tr-bg-color: var(--el-color-warning-light-9);
}

.vod tr.el-table__row {
    cursor: pointer;
}

div.el-dialog.player {
    padding: 6px;
}

div.player .el-descriptions__body .el-descriptions__table:not(.is-bordered) .el-descriptions__cell {
    padding-bottom: 6px;
}
